<!DOCTYPE html>
<html>
<head>
  <title>Susan's Servings</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link href='http://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Susan's Servings</h1>
    <hr>
      <% if @current_user %>
        <%= link_to "My Account", @current_user, class: "btn btn-default" %>
        <%= link_to "Sign Out", '/sessions', method: :delete, class: "btn btn-default" %>
        <hr>
      <% end %>
      <%= render "/shared/modals.html.erb" %>
  </header>

<%= yield %>

</body>
</html>
