<!DOCTYPE html>
<html>
<head>
  <title>Susan's Servings</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link href='http://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Susan's Servings</h1>
    <hr>
      <% if @current_user %>
        <%= link_to "My Account", @current_user, class: "btn btn-default" %>
        <%= link_to "Sign Out", logout_path, class: "btn btn-default" %>
      <% else %>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#signInModal">
          Sign In
        </button>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#signUpModal">
          Sign Up
        </button>
        <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true" data-backdrop = "false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
              </div>
              <div class="modal-body">
                <%= form_tag url: '/users/create' %>
                  <%= label_tag :name, "User name" %><br>
                  <%= text_field_tag :name %> <br>
                  <%= label_tag :email, "Email address" %><br>
                  <%= text_field_tag :email %> <br>
                  <%= label_tag :password, "Password" %><br>
                  <%= text_field_tag :password %>
              </div>
              <div class="modal-footer">
                  <%= submit_tag "Sign Up", class: "btn btn-default"%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <hr>
  </header>

<%= yield %>

</body>
</html>
